* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #081525;
}

.navbar {
    display: flex;
    background: linear-gradient(to right, #1D5683, #153C5F);
    color: white;
    text-align: right;
    z-index: 5;
    height: 50px;
    position: sticky;
    top: 0;
}
.nav-menu{
    padding-top: 5px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
}

.nav-title {
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'watcher-bold';
    text-align: left;
    padding-left: 20px;
}

.search-bar {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.8;
    width: 300px;
    float: right;
    /* background-color: rgb(255, 255, 255); */
    align-self: center;
    justify-content: space-between;
}
.search-submit {
    box-shadow: none;
    border: none;
    background:url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    background-size: 130%;
    filter: invert(100%);
}

.burger {
    float:right;

    padding: 0px 15px 10px 0px;
}

.line {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 10px;
}

/* ------------ */

.sidebar-menu {
    background: rgba(0, 0, 0, 0.555);
    height: 100vh;
    padding-top: 20px;
    width: 100%;
    display: none;
    position: sticky;
    z-index: 2;
}
.sidebar-menu h2{
    text-align: center;
    font-family: oswald;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.nav-item {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* content */
.video {
    width: 240px;
    height: 200px;
    align-self: self-start;
}

.video div video {
    background-color: #182a31;
    border-radius: 10px;
}

.video div div {
    margin: 0px;
    padding: 0px;
}
.tripledot {
    text-decoration: none;
    color: white;
}

.video div div h4 {
    padding: 5px 2px 0px 2px;
    font-size: medium;
    margin: 0px;
}
.video div p {
    padding: 0px 2px 5px 2px;
    font-size: small;
    color: #ececec;
    margin: 0px;
}

.video div {
    color: white;
    border-radius: 10px;
    margin-left: 1px;
}

/* video dropdown */
.tripledot-container {
    position: relative;
    display: inline-block;
    scale: 0.9;
    
}

.tripledot {
    font-size: 24px;
    cursor: pointer;
}

.video-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(221, 221, 221);
    z-index: 1000;
    padding: 10px;
}

.video-dropdown a,
.video-dropdown button {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0px,0px,10px,10px;
}

.video-dropdown a:hover,
.video-dropdown button:hover {
    background-color: #8f8f8f;
    border-radius: 10px;
}